#buttons {
    margin: 30px;
}

#btn {
    margin: 10px;
    margin-top: 50px;
    min-width: 300px;
}

.imgPanel {
    border-width: 10px;
    border-color: red;
    height: 350px;
    width: 350px;
}

